<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Заказы клиета</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        
       <link rel="stylesheet" th:href="@{/resources/styles/default.css}">
</head>

<body>


    <div class="header">
        <div class="container">
            <div class="row">
                <br>
            </div>
        </div>
    </div>


    <div class="context">
        <div class="container">
            <div class="row">
                <div class="col-md-4"><a th:href="@{/main}" class="btn btn-outline-dark">Меню</a></div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
            </div>

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <h1>Заказы сотрудника</h1>
                    <br>
                    <form th:action="@{/employeeOrders}" method="post">
                        <label for="employeeId">Выберите сотрудника</label>
                        <select name="employeeId" class="form-select" id="selectEmployee">
                            <option th:each="emp : ${allEmployeers}" th:value="${emp.id}"
                                th:text="${emp.getEmployeeName + ' ' + emp.getEmlpoyeeSurName}">
                            </option>
                        </select>
                        <br>
                        <div class="d-grid gap-2">
                            <input type="submit" value="Показать заказы" class="btn btn-success">
                        </div>
                    </form>
                    <br>
                    
                    <h2><span th:text="${selectEmployee}" id="selectEmployeeSpan"></span>  </h2>
                    <span hidden="true" th:text="${selectEmployeeId}" id="selectEmployeeSpanId"></span>
                    
                    <br>
                    <table class="table" style="table-layout: auto;">
                        <thead>
                            <tr>
                            	<th>№</th>
                                <th>Номер заказа</th>
                                <th>Сумма продажи</th>
                                <th>Сумма оплаты</th>
                                <th>Долг</th>
                                <th>Клиент</th>
                                <th>Работник</th>
                                <th>Дата доставки</th>
                                <th>Скидка</th>
                                <th>Адрес доставки</th>
                                <th>Комментарий</th>
                                <th>Дата создания заказа</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="order, iter : ${listOrders}">
                            	<td><span th:text="${iter.count}"></span></td>
                                <td><span th:text="*{order.orderNumber}"></span></td>
                                <td><span th:text="*{#numbers.formatDecimal(order.saleAmount,3,'WHITESPACE',2,'COMMA')}"></span></td>
                                <td><span th:text="*{#numbers.formatDecimal(order.paymentAmount,3,'WHITESPACE',2,'COMMA') }"></span></td>
                                <td><span th:text="*{#numbers.formatDecimal(order.saleAmount - order.paymentAmount,3,'WHITESPACE',2,'COMMA') }"></span></td>
                                <td><span th:text="*{order.client.clientName}"></span></td>
                                <td><span th:text="*{order.employee.employeeName}"></span></td>
                                <td><span th:text="*{#dates.format(order.deliveryDate, 'dd-MM-yyyy')}"></span></td>
                                <td><span th:text="*{order.discount}"></span></td>
                                <td><span th:text="*{order.deliveryAddress}"></span></td>
                                <td><span th:text="*{order.comment}"></span></td>
                                <td><span th:text="*{#dates.format(order.creationDate, 'dd-MM-yyyy')}"></span></td>
                                
                            </tr>
                            <tr class="row-total">
                            <td></td>
                            <td>Всего:</td>
                            <td> <span th:text= "*{#numbers.formatDecimal(totalSaleAmount,3,'WHITESPACE',2,'COMMA')}"></span> </td>
                            <td> <span th:text= "*{#numbers.formatDecimal(totalPaymentAmount,3,'WHITESPACE',2,'COMMA')}"></span> </td>
                            <td> <span th:text= "*{#numbers.formatDecimal(totalSaleAmount - totalPaymentAmount,3,'WHITESPACE',2,'COMMA')}"></span> </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>







    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
        
        <script>

        var employee = document.getElementById('selectEmployeeSpanId').innerHTML;
        const $select = document.getElementById('selectEmployee');
        $select.value = parseInt(employee);

        </script>
        <script src=""></script>
</body>

</html>