<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>


<h1>ORDER</h1>

<br>
<a th:href = "@{/main}">--Back</a>
<br>
<br>


<form th:action="@{/saveOrder}" method="post">


<p>Client</p>

<select name="clientId">

    <option th:each="cl : ${allClients}" th:value="${cl.id}" th:text="${cl.getClientName + ' ' + cl.getClientSurName}">
    
    </option>
</select>

<br>
<br>


<br>
<br>
<a href="newClient">CREATE NEW CLIENT!</a>

<br>
<hr>
<br>

 
<p>Employee</p>


<select name="employeeId">
<option th:each = "emp : ${allEmployees}" th:text="${emp.employeeName + '--' + emp.id}" th:value="${emp.id}">
</option>

</select>

<br>
<br>

<a href="newEmployee">CREATE NEW EMPLOYEE!</a>

<br>
<br>
<hr>
<!--
<div th:object = "${employee}">
<label>employeeName</label>
<input type="text" th:value ="*{employeeName}" name="employeeName" placeholder="employeeName">
<br>
<br>
<label>emlpoyeeSurName</label>
<input type="text" th:value ="*{emlpoyeeSurName}" name="emlpoyeeSurName" placeholder="emlpoyeeSurName">
<br>
<br>

</div>
 -->
 
 <br>
 <br>
 
<p>Order</p>
<div th:object = "${order}">
<label>orderNumber</label>
<input type="text" th:value ="*{orderNumber}" name="orderNumber" placeholder="orderNumber">
<br>
<br>
<label>saleAmount</label>
<input type="text" th:value ="*{saleAmount}" name="saleAmount" placeholder="saleAmount">
<br>
<br>

<label>paymentAmount</label>
<input type="text" th:value ="*{paymentAmount}" name="paymentAmount" placeholder="paymentAmount">
<br>
<br>
<label>deliveryDate</label>
<input type="date" th:value ="*{deliveryDate}" name="deliveryDate" placeholder="deliveryDate">
<br>
<br>
<label>discount</label>
<input type="text" th:value ="*{discount}" name="discount" placeholder="discount">
<br>
<br>
<label>deliveryAddress</label>
<input type="text" th:value ="*{deliveryAddress}" name="deliveryAddress" placeholder="deliveryAddress">
<br>
<br>
<label>comment</label>
<input type="text" th:value ="*{comment}" name="comment" placeholder="comment">
<br>
<br>
<label>creationDate</label>
<input type="date" th:value ="*{creationDate}" name="creationDate" placeholder="creationDate">
<br>
<br>


</div>



<input type="submit">

</form>




</body>
</html>